{% extends 'layout.html' %}

{% block body %}
    <h1 class="title">Astillero Cotecmar</h1>
    <p>Un astillero es un lugar donde se construyen y se reparan buques, ¿sabías que el Astillero Cotecmar es el más grande de Colombia y el Caribe? Ubicado a 20 kilómetros de Cartagena, esta maravilla es responsable de la reparación de 70 buques al año gracias a la mano de obra de sus cerca de 1.200 trabajadores.
    Aquí es posible conocer cómo se repara un buque de 3.200 toneladas y cómo se construye uno, tarea que puede tomar hasta un año..</p>
    <a href="/"><img src="{{ url_for('static', filename='img/inicio.png') }}"></a>
{% endblock  %}