{% extends 'layout.html' %}

{% block body %}
    <h1 class="title">Castillo de San Felipe</h1>
    <p>¿Cómo resistió Cartagena uno de los ataques navales más grandes de la historia? El Castillo de San Felipe de Barajas fue construido en 1657 en el cerro de San Lázaro para proteger a la ciudad de piratas e invasores. Así, Cartagena se convirtió en un fuerte militar y, gracias a su diseño, 186 flotas con 23.000 hombres de Inglaterra no pudieron vencer el fuerte en la batalla naval que se convirtió en la peor verguenza y derrota de los ingleses.
        Este capítulo te cuenta los detalles de la construcción, hoy espacio turístico, y su importancia en la historia de nuestro país y del mundo.</p>
    <a href="/"><img src="{{ url_for('static', filename='img/inicio.png') }}"></a>
{% endblock  %}