{% extends 'layout.html' %}

{% block body %}
    <h1 class="title">Catedral de sal de Zipaquirá</h1>
    <p>La antigua Catedral de sal de Zipaquirá fue cerrada en 1990 por fallas geológicas y estructurales que la hicieron
    colapsar. Así nació la nueva Catedral, la más grande del mundo, única en su estilo.

    Intérnate en lo profundo de las cuevas en donde podrás conocer cómo fue el proceso de diseñar y construir esta maravilla
    a prueba de colapso y los retos que trae el crear toda una catedral bajo tierra en una mina de sal.</p>
    <a href="/"><img src="{{ url_for('static', filename='img/inicio.png') }}"></a>
{% endblock %}